html {
  font-size: 20px;
}


#learning {
  max-width: 400px;
  position: fixed;
  right: 1em;
  top: 2em;
  color: darkred;
  padding: 1em;
  border-radius: 1em;
}

#learning a {
  color: black;
  font-weight: 400;
}

#learning ul {
  padding-left: 1em;
}

#learning li {
  margin-left: 0;
  padding-left: 0;
  color: darkblue;
  font-weight: 600;
}

.arrow {
  color: coral;
  font-size: 1.2rem;
}